div#projBuildHistoryRootContainer, div#projBuildPermalinksRootContainer,
	div#projBuildTestRootContainer {
	font-size: 15px;
}

div#projBuildSummaryCollapse {
	font-family: 'Ubuntu Mono', monospace;
	font-size: 12px;
}

div#projBuildSummaryRootContainer>div.panel>div.panel-heading {
	line-height: 15px;
}

div#projBuildSummaryRootContainer>div.panel>div.panel-heading>span.job-name-title>a
	{
	font-family: 'Ubuntu', sans-serif;
	font-size: 15px;
	font-weight: bold;
}

div#projBuildSummaryRootContainer>div.panel>div.panel-heading>span.job-name-url>a
	{
	font-family: 'Ubuntu', sans-serif;
	font-size: 12px;
}