div#buildHistoryCollapse>div.panel-body>table>tbody>tr>td {
	padding: 10px;
}

div#buildHistoryCollapse>div.panel-body>table>tbody>tr>td.build-history-permalinks
	{
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	vertical-align: top;
}

div#buildHistoryCollapse>div.panel-body>table>tbody>tr>td.build-history-details
	{
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	vertical-align: top;
}

div#buildHistoryRootContainer>div.panel>div.panel-heading {
	padding-bottom: 5px;
	padding-top: 5px;
}

div#buildHistoryRootContainer>div.panel>div.panel-heading>span.build-history-title>a
	{
	font-family: 'Alfa Slab One', cursive;
	font-size: 12px;
}

div#projBuildSummaryRootContainer>div.panel>div.panel-heading {
	line-height: 15px;
}

div#projBuildSummaryRootContainer>div.panel>div.panel-heading>span.job-name-title>a
	{
	font-family: 'Alfa Slab One', cursive;
	font-size: 15px;
}

div#projBuildSummaryRootContainer>div.panel>div.panel-heading>span.job-name-url>a
	{
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
}