div.navbar {
	border-radius: 0px;
	margin-bottom: 0px;
}

div.navbar a.navbar-brand {
	color: #ffffff;
	line-height: 12px;
}

div.navbar a.navbar-brand span.brand-company-name {
	font-family: 'Alfa Slab One', cursive;
}

div.navbar a.navbar-brand span.brand-team-name {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	text-decoration: underline;
}

div#topMenus {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
}

img#finastraBanner {
	border: solid 1px #000000;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	width: 100%;
}