div#finastraLogoContainer {
	background-color: #f8f8f8;
	height: 75px;
}

div#finastraLogoContainer>img {
	height: 100%;
	margin-left: 50px;
}

div#topRootContainer  div.navbar {
	border-radius: 0px 0px 50px 50px;
	padding-left: 50px;
}

div#topRootContainer div.navbar div.navbar-collapse {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-weight: bold;
}