body {
	background-color: #32363a;
}

div.panel.panel-body {
	margin-bottom: 0px;
}

span.link {
	color: #337ab7;
	text-decoration: underline;
}

span.link:hover {
	cursor: pointer;
}

u_ {
	text-decoration: underline;
}